<header id="header">
    <div id="particles-js"></div>
    <a href="http://ekaterina-kharitonova.com" class="image avatar"><img src="/images/main/10.jpg"></a>
    <h5>Hi there, I am <strong><a href="http://127.0.0.1:4000">Ekaterina</a></strong><br />
        My role is to develop automation solutions<br />
        for testing and quality assurance of different products<br />
        for a world class customer experience<br />
    </h5>
    <ul class="actions">
        <a href="learn_more" class="button header">Learn More</a>
    </ul> <br />
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/assets/js/particles.js"></script>
</header>